* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	background: #000;
	overflow: hidden;
	touch-action: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-user-select: none;
}

canvas {
	display: block;
	margin: 0 auto;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

/* fullscreen */
:-webkit-full-screen canvas { width: 100% !important; height: 100% !important; }
:-moz-full-screen canvas { width: 100% !important; height: 100% !important; }
:fullscreen canvas { width: 100% !important; height: 100% !important; }

@font-face {
	font-family: emulogic;
	src: url('emulogic.ttf');
}

.hidden {
	font-family: emulogic;
	display: none;
}
